@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
* body{
    margin-top: 0 auto;
    margin: 0 auto;
    background-color: rgb(22, 31, 59);
}
header{
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    background-color: rgba(40, 66, 144, 0.635);
    padding: 10px;
    border-bottom: 1px solid rgb(37, 17, 255);
}
header{
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    background-color: rgba(40, 66, 144, 0.635);
    padding: 10px;
    border-bottom: 1px solid rgb(37, 17, 255);
}
header a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
header h2{
    color: white;
    margin-left: 10px;
    margin-top: 15px;
}
header h2 span{
    color: green;
}
header ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-top: 23px;
}
header ul a{
    color: white;
}
header ul a:hover{
    color: rgb(34, 111, 255); 
}
section{
    text-align: center;
    color: white;
    font-family: Montserrat;
    gap: 10px;
}
section img{
    width: 30vh;
    border-radius: 30%;
}
section div a{
    color: white;
    text-decoration: none;
    padding: 10px;
}